.chatScreen > p {
  text-align: center;
  color: gray;
  padding: 20px;
}
.chatScreen {
}
.chatScreen__message {
  display: flex;
  align-items: center;
  padding: 20px;
}
.chatScreen__container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 50px;
  height: 400px;
  overflow-y: scroll;
}
.chatScreen__text {
  margin-left: 10px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;
}
.chatScreen__textUser {
  margin-left: auto;
  margin-right: 10px;
  background-color: #29b0cd;
  padding: 15px;
  border-radius: 20px;
  color: white;
}
.chatScreen__input {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
}
.chatScreen__inputField {
  flex: 1;
  padding: 20px;
  border: none;
  outline: none;
}
.chatScreen__button {
  border: none;
  margin-right: 20px;
  background-color: white;
  font-weight: bold;
  color: #fe3d71;
  text-transform: uppercase;
}
