.swipeButtons {
  position: fixed;
  bottom: 20px;
  width: 100%;
  height: fit;
  display: flex;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__replay {
  padding: 3vw !important;
  color: #f5b758 !important;
}
.swipeButtons__close {
  padding: 3vw !important;
  color: #ec5e6f !important;
}
.swipeButtons__star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}
.swipeButtons__favorite {
  padding: 3vw !important;
  color: #50a581 !important;
}
.swipeButtons__flash {
  padding: 3vw !important;
  color: #663f9a !important;
}
